<footer>
    <div class="foot" style="padding-left: 10px;">
        <img src="/assets/images/download2.png" id="btlogo">  
        <p class="comsoft"><a href="https://www.comsoftltd.com">Powered By Comsoft Limited</a></p>
        <p>Copyright @2020 Nigerian Defence Academy</p>
    </div>
    <div class="footer">
        <ul id="footer"> <p style="font-weight: bold;">Quick Links</p>
            <li id="ft"><a routerLink="/" >| Home</a></li>
            <li id="ft"><a href="mail:info@ndaapplications.net" >| Contact Us</a></li>
            <li id="ft"><a href="https://www.nda.edu.ng" >| NDA Website</a></li>
            <li id="ft"><a href="https://twitter.com/NdaRegular?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false"  
                async src="https://platform.twitter.com/widgets.js" charset="utf-8">
                | Follow @NdaRegular <img class="tweet" src="../assets/images/twitter.png"></a></li>
        </ul>    
    </div>
</footer>