.choice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.ip2{
    width: 30%;
}

sup{
    color: red;
}
.button{ 
    width: 100%;
    float: right;
    // margin-top: 1em;
    bottom: 0;
    position: absolute;
    button{
      background: rgba(0, 0, 14, 0.76);
      color: white;
      float: right;
      margin-right: 5.5em;
    }
  }