<div class="logo">
    <div class="nav2">
        <div class="top">
            <img src="\assets\images\download2.png" routerLink="/">
            <span class="head">Nigerian Defence Academy</span>
        </div>
        <div class="logup">
            <div>Welcome <b style="color: white;">{{loggedInUser.name | titlecase}}</b></div>&nbsp;&nbsp;
            <mat-icon class="logout" routerLink = "/login">power_settings_new</mat-icon>
        </div>
    </div>
    <div class="title">
        <div class="nav">
            <div class="download">
                <span style="color: white; cursor: pointer;" [matMenuTriggerFor]="menu">Download</span>
                <mat-menu  #menu="matMenu">
                    <button mat-menu-item href="/src/assets/Advertfor72RC.pdf">Advertisement</button>
                    <button mat-menu-item href="\assets\Requirements72RC.pdf">Requirements</button>
                </mat-menu>
            </div> 
            <span style="cursor: pointer;"> <a href="mail:info@ndaapplications.net"> Contact</a></span>
        </div>
    </div>
</div>