<title>{{title}}</title>
<div class="logo">
    <div class="nav">
        <span style="cursor: pointer; "> <a routerLink="/">Home</a></span>
        <div class="download">
            <span style="color: white;">Download</span>
            <div class="downloadmenu">
                <li><a href="\assets\Advertfor72RC.pdf ">Advertisement</a></li>
                <li><a href="\assets\Requirements72RC.pdf">Requirments</a></li>
            </div>
        </div> 
        <span> <a href="/rrr">RRR</a></span>
        <span style="cursor: pointer;"> <a href="mail:info@ndaapplications.net"> Contact</a></span>
    </div>
    <div class="logup">
        <button class="login" routerLink="/login">Login</button>
        <button class="sign" routerLink="/signup">Sign Up</button>
    </div>
</div>
