.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    img{
        padding-left: 30px;
        width: 10em;
        height: 8em;
    }

}

.grid{
    display: grid;
    width: 75%;
    grid-template-columns: 40% 40%;
    padding: 10px;
}


